<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date of Birth</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.fullname}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.dob}"></td>
                <td th:text="${user.gender}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
